<!DOCTYPE html>
<html lang="en">
  <head>
    <title>deem. Login</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="Assets/img/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="Assets/vendors/bootstrap/css/bootstrap.min.css"
    />
    <!-- Google Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap"
      rel="stylesheet"
    />
    <!-- ZMDI  Icons  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="Assets/vendors/animate/animate.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="Assets/vendors/css-hamburgers/hamburgers.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="Assets/vendors/animsition/css/animsition.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="Assets/vendors/select2/select2.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="Assets/vendors/daterangepicker/daterangepicker.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Assets/css/util.css" />
    <link rel="stylesheet" type="text/css" href="Assets/css/login.css" />
    <!--===============================================================================================-->
  </head>
  <body>
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
          <form
            action="/login"
            method="post"
            class="login100-form validate-form"
          >
            <span class="login100-form-title p-b-43">deem.</span>
            <span class="login100-form-text p-b-43">Login to continue</span>

            <div
              class="wrap-input100 validate-input"
              data-validate="Valid email is required: ex@abc.xyz"
            >
              <input class="input100" type="text" name="username" />
              <span class="focus-input100"></span>
              <span class="label-input100">Email</span>
            </div>

            <div
              class="wrap-input100 validate-input"
              data-validate="Password is required"
            >
              <input class="input100" type="password" name="password" />
              <span class="focus-input100"></span>
              <span class="label-input100">Password</span>
            </div>
            <small style="color: red; padding-bottom: 20px"><%=errmsg%></small>

            <div class="flex-sb-m w-full p-t-3 p-b-32">
              <div class="contact100-form-checkbox">
                <input
                  class="input-checkbox100"
                  id="ckb1"
                  type="checkbox"
                  name="remember-me"
                />
                <label class="label-checkbox100" for="ckb1">
                  Remember me
                </label>
              </div>

              <div>
                <a href="/register" class="txt1"> New here ? </a>
              </div>
            </div>
            <div class="container-login100-form-btn">
              <button class="login100-form-btn">Login</button>
            </div>

            <div class="text-center p-t-46 p-b-20">
              <span class="txt2"> or Login using </span>
            </div>

            <div class="login100-form-social flex-c-m">
              <a
                href="/auth/facebook"
                class="login100-form-social-item flex-c-m bg1 m-r-5"
              >
                <span><i class="zmdi zmdi-facebook"></i></span>
              </a>

              <a
                href="/auth/google"
                class="login100-form-social-item flex-c-m bg3 m-r-5"
              >
                <i class="zmdi zmdi-google"></i>
              </a>
            </div>
          </form>

          <div
            class="login100-more"
            style="background-image: url('/Assets/img/bg-01.png')"
          ></div>
        </div>
      </div>
    </div>
    <script
      src="https://kit.fontawesome.com/24f6148add.js"
      crossorigin="anonymous"
    ></script>
    <!--===============================================================================================-->
    <script src="/Assets/vendors/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="Assets/vendors/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="Assets/vendors/bootstrap/js/popper.js"></script>
    <script src="Assets/vendors/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="Assets/vendors/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="Assets/vendors/daterangepicker/moment.min.js"></script>
    <script src="Assets/vendors/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="Assets/vendors/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->

    <script src="/Assets/js/login.js"></script>
  </body>
</html>
