/* Global Syles  */
:root {
  --main-bg-color: #13192f;
  --brand-color: #de1dea;
  --Almost-white: hsl(0, 0%, 98%);
  --btc-color: #ffc329;
  --btc-bg: #fff9e9;
  --eth-color: #165df5;
  --eth-bg: #e7eefe;
  --ltc-color: #381840;
  --ltc-bg: #ebe7ec;
  --bch-color: #19a389;
  --bch-bg: #e8f6f3;
  --crypto-name-color: #e9633b;
  --crypto-value-color: #23a78e;
  --secondary-bg: #190d67;
}
.navbar-toggler,
.btn,
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@-webkit-keyframes upDown {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
  }
}
.nav-active {
  color: var(--brand-color) !important;
}

@keyframes upDown {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
  }
}

* {
  padding: 0;
  margin: 0;
  font-family: "Epilogue", sans-serif;
  box-sizing: border-box;
}
.container-fluid {
  padding: 0 6% !important;
  width: 100% !important;
}
.btn-btn {
  background-color: var(--brand-color);
  color: var(--Almost-white);
  padding: 12px 29px;
  border: none;
  border-radius: 8px;
}
.btn-btn:hover {
  background-color: #a313ad !important;
  color: var(--Almost-white);
  padding: 12px 29px;
  border: none;
  border-radius: 8px;
}
.btn-dark {
  padding: 12px 29px;
  border-radius: 8px;
}

/* End of Global Styles  */

/* Navbar  */
.navbar {
  background-color: var(--main-bg-color);
  height: 90px;
  z-index: 2;
}
.navbar .container-fluid {
  padding: 0 5% !important;
}
.navbar-brand,
.navbar-brand:hover,
.navbar-brand:visited,
.navbar-brand:focus {
  color: var(--brand-color);
  font-size: 3rem;
  font-weight: 600;
}
.collapse,
.navbar-collapse {
  width: 100% !important;
  text-align: center;
  background-color: var(--main-bg-color) !important;
}
.navbar-nav {
  gap: 20px;
}
.navbar-toggler-icon {
  height: 100%;
  width: 100%;
  color: var(--brand-color);
  font-size: 2rem;
}
.nav-link {
  color: var(--Almost-white);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--brand-color);
}

.nav-link .btn-btn {
  background-color: var(--brand-color);
  color: var(--Almost-white);
  padding: 12px 29px;
  border: none;
  border-radius: 8px;
}

/* Showcase  */
.showcase {
  padding: 5% 0;
  background-color: var(--main-bg-color);
  color: var(--Almost-white);
}
.showcase-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.showcase-title {
  margin-bottom: 10px;
}
.showcase-content {
  margin-bottom: 30px;
}
.showcase-img {
  animation: upDown 5s infinite;
}

/* Features  */
.features {
  padding: 8% 0;
  text-align: center;
}
.feature-icon {
  font-size: 4rem;
  margin-bottom: 1rem;
}
.feature-title {
  font-size: 2rem;
  font-weight: 700;
}
.feature-text {
  font-size: 1rem !important;
}
.features .navbar-brand {
  font-size: 1.5rem;
}

/* Live Rate Section  */
.live-rate {
  padding: 7% 0;
  background-color: var(--main-bg-color);
  text-align: center;
}
.exchange-rate-title {
  color: var(--Almost-white);
  margin-bottom: 50px;
}
.crypto-icon {
  font-size: 2rem;
  margin-bottom: 15px;
}
.crypto-info {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  text-align: left;
}
.crypto-name {
  color: var(--crypto-name-color);
}
.crypto-value {
  color: var(--crypto-value-color);
}
.fa-bitcoin {
  color: var(--btc-color);
  background-color: var(--btc-bg);
  padding: 7px;
  border-radius: 6px;
}
.fa-ethereum {
  color: var(--eth-color);
  background-color: var(--eth-bg);
  padding: 7px 14px;
  border-radius: 6px;
}
.fa-litecoin-sign {
  color: var(--ltc-color);
  background-color: var(--ltc-bg);
  padding: 7px 14px;
  border-radius: 6px;
}

.brand {
  color: var(--brand-color);
}
/* Brand ad One  */
.brand-ad {
  background-color: var(--Almost-white);
  padding: 8% 0;
  color: var(--main-bg-color);
}
.brand-ad .ad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.brand-ad-title {
  margin-bottom: 30px;
}
.brand-ad-content {
  margin-bottom: 40px;
}
.brand-ad .btns {
  display: flex;
  gap: 15px;
}
.brand-ad .btn-dark {
  background-color: var(--crypto-name-color);
  color: var(--Almost-white);
  border: none;
}
.brand-ad .btn-dark:hover {
  background-color: #da4c21;
  color: var(--Almost-white);
}

/* 2 */
.brand-ad-2 {
  background-color: var(--main-bg-color);
  padding: 8% 0;
  color: var(--Almost-white);
}
.brand-ad-2 h1 {
  margin-bottom: 40px;
}
.brand-ad-2-ul {
  list-style: none;
}
.brand-ad-2-li {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 15px;
}
.brand-ad-2-li:last-child {
  margin-bottom: 30px;
}
/* Testimonials  */

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/

.testimonials {
  padding: 5% 0;
  background-color: #ebd0ee;
}
.testimonials .section-title {
  text-align: center;
  margin-bottom: 40px;
}
.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}
.testimonials .testimonial-item {
  box-sizing: content-box;
  min-height: 320px;
}
.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  margin: -40px 0 0 40px;
  position: relative;
  z-index: 2;
  border: 6px solid #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 45px;
  color: var(--main-bg-color);
}
.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: var(--crypto-name-color);
  margin: 0 0 0 45px;
}
.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: var(--main-bg-color);
  font-size: 26px;
}
.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}
.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}
.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 15px 0 15px;
  padding: 20px 20px 60px 20px;
  background: #fff;
  position: relative;
  border-radius: 6px;
  position: relative;
  z-index: 1;
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.1);
}
.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: var(--main-bg-color);
  margin-top: 10px;
  opacity: 1;
  /* border: 1px solid var(--main-bg-color); */
}
.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--crypto-name-color);
}

/* Download Section  */
.download-app-section {
  padding: 5% 0;
  background: linear-gradient(
      45deg,
      rgba(86, 58, 250, 0.9) 0%,
      rgba(116, 15, 214, 0.9) 100%
    ),
    url("../img/hero-bg.jpg") center center no-repeat;
  background-size: cover;
  color: var(--Almost-white);
}
.download-app-section .btns {
  display: flex;
  gap: 15px;
}
.download-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #fff;
  font-size: 14px;
  background-color: var(--main-bg-color);
}
#footer .footer-top {
  padding: 60px 0 30px 0;
  position: relative;
}
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 500;
}
#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
}
#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #fff;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
  text-decoration: underline;
  color: #fff;
}
#footer .footer-newsletter {
  font-size: 15px;
}
#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 5px;
  text-align: left;
  border: 1px solid white;
}
#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}
#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: -1px;
  right: -2px;
  bottom: -1px;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: rgba(123, 39, 216, 0.8);
  color: #fff;
  transition: 0.3s;
  border-radius: 0 5px 5px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
#footer .footer-newsletter form input[type="submit"]:hover {
  background: #5846f9;
}
#footer .copyright-wrap {
  border-top: 1px solid #8577fb;
}
#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #fff;
}
#footer .credits a {
  color: #fff;
}
#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .social-links a:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-decoration: none;
}

/* Media Queries  */
/*Big smartphones [426px -> 600px]*/

@media only screen and (max-width: 768px) {
  .showcase {
    padding: 150px 0;
    background-color: var(--main-bg-color);
    color: var(--Almost-white);
  }
  .showcase-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
  }
  .features {
    padding: 50px 0;
  }
  .live-rate {
    padding: 50px 0;
  }
  .brand-ad {
    padding: 50px 0;
    text-align: center;
  }
  .brand-ad .ad {
    align-items: center;
    justify-content: stretch;
  }
  .brand-ad-2 {
    padding: 50px 0;
    text-align: center;
  }
  .brand-ad-2-li {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: start;
    margin-bottom: 15px;
  }
  .testimonials {
    padding: 50px 0;
    background-color: #ebd0ee;
  }
  .download-app-section {
    padding: 50px 0;
    text-align: center;
  }
  .download-text {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
  }
  .download-app-section .row {
    gap: 50px;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 480px) {
  .showcase {
    padding: 50px 0;
    background-color: var(--main-bg-color);
    color: var(--Almost-white);
  }
  .showcase-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .brand-ad-title {
    margin-bottom: 30px;
    font-size: 2rem;
  }
}

/* Preloader  */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: var(--main-bg-color);
}

.preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--secondary-bg);
  border-top-color: var(--brand-color);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
